@model UserViewModel

@{
    ViewData["Title"] = "User";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <form asp-antiforgery="true" metod="post" enctype="multipart/form-data">
                <input asp-for="Name" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class-"form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
            </form>
        </div>
    </div>
</div>
